.about-header {
  text-align: center;
  width: 100vw;
  padding: 1em 0;
  color: $blue;
}

.bubble-section {
  margin-left: 1em;
  margin-bottom: 2em;
  position: relative;
  color: $blue;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .bubble-section-content {
    width: 50vw;
    padding: 4em;
  }

}
