.banner-caroussel {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  position: relative;

  .banner-content {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .banner-image {
      z-index: 1;
      position: absolute;
      left: 5vw;
      top: 7vh;
      width: 35%;
      height: 70%;
      background-size: cover;
    }

    .banner-info {
      position: absolute;
      left: 30vw;
      top: 3vh;
      width: 65%;
      height: 88%;
      background: $green;
      color: $blue;
      padding: 7vh 4vw 7vh 12vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.banner-content-mobile {
  width: 100vw;
  height: 40vh;
  overflow: hidden;

  .banner-image {
    width: 100%;
    height: 70%;
    background-size: cover;
  }

  .banner-info {
    width: 100%;
    height: 30%;
    background: $green;
    color: $blue;
    padding: 1em;
  }
}

.home-banner-mobile {
  margin-top: 1em;
  padding: 1em;
  border-top: 2px $blue solid;
  border-bottom: 2px $blue solid;
}

.hidden {
  display: none !important;
}

.home-banner {
  display: flex;
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  color: $blue;
  align-items: center;
  width: 100%;
  padding: 3em 0;

  .logo-tagline {
    text-align: center;
    width: 40%;
  }

  .info-text {
    width: 60%;
  }
}

.categories {
  padding: 2em;
  color: $blue;

  .category-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .categories {
    padding: 2em;
    color: $blue;

    .category-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .categories {
    padding: 2em;
    color: $blue;

    .category-cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}

.mobile-slider {
  padding: 1em 0;

  .highlighted-header {
    color: $blue;
    margin-left: .5em;
  }

  .slider-cards {
    height: 20vh;
    display: flex;
    overflow-x: scroll;
  }

  .info-text {
    padding: 0 1em;
  }
}

.highlighted-header {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $green 50%);
  width: fit-content;
}

.link-center {
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  text-align: center;
  width: 100%;
  font-size: 1em;

  a {
    margin: 1em 0;
    display: inline-block;
  }
}
