<div class="category-card-mobile" style="background-image: url('<%= cl_image_path category.photo.key, height: 600, width: 800, crop: :fill %>')">
  <div class="gradient">
    <h4 class="category-card-text"><%= category.name %></h4>
  </div>
</div>
