<div class="navbar-wrapper">
  <%= link_to (render 'shared/logo'), root_path %>
  <h3><%= link_to 'Kategorien', categories_path %></h3>
  <h3>Live Streams</h3>
  <h3><i class="fas fa-search"></i> Suche</h3>
  <h3><%= link_to 'Über uns', about_path %></h3>
  <h4 class="avatar-round"><i class="fas fa-user"></i></h4>
</div>
