<div class="banner-caroussel">
  <% Event.order(count: :desc).first(5).each do |event| %>
    <div class="banner-content">
      <div class="banner-image" style="background-image: url('<%= cl_image_path event.photo.key, height: 400, width: 600, crop: :fill %>')"></div>
      <%= link_to "<div class='banner-info'><h1>#{event.name}</h1><p>#{event.description.truncate(200)}</p></div>".html_safe, event_path(event) %>
    </div>
  <% end %>
</div>

<div class="home-banner">
  <div class="logo-tagline">
    <h2>entertainly</h2>
    <h5>Insert tagline here</h5>
  </div>

  <div class="info-text">
    <% if user_signed_in? %>
      <% if current_user.admin %>
        <a href="/admin/dashboard">
          <h3 class="highlighted-header">Hier gehts zur Admin Seite</h3>
          <p>Dort kannst du Events und Kategorien hinzufügen</p>
        </a>
      <% else %>
        <h3 class="highlighted-header">Was uns antreibt</h3>
        <p>Wir wollen die Einsamkeit und Langeweile vertreiben. Vergnügt euch mit entertainly! Die Seite wird ständig weiterentwickelt.</p>
      <% end %>
    <% else %>
      <h3 class="highlighted-header">Was uns antreibt</h3>
      <p>Wir wollen die Einsamkeit und Langeweile vertreiben. Vergnügt euch mit entertainly! Die Seite wird ständig weiterentwickelt.</p>
    <% end %>
  </div>
</div>

<div class="categories">
  <h2 class="highlighted-header">Top Kategorien</h2>
  <div class="category-cards">
    <% Category.order(count: :desc).first(6).each do |category| %>
      <%= link_to (render 'shared/category-card', category: category), category_path(category) %>
    <% end %>
  </div>
</div>
