<h1 class="about-header">Über uns</h1>

<div class="bubble-section">
  <%= render 'shared/bubble' %>
  <div class="bubble-section-content">
    <h1>Was uns antreibt</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus assumenda adipisci, expedita alias corrupti incidunt magnam soluta iste ducimus. Molestias provident ea delectus, esse sapiente commodi deserunt, laborum nihil vel!</p>
  </div>
</div>

<div class="bubble-section">
  <%= render 'shared/bubble' %>
  <div class="bubble-section-content">
    <h1>Wer wir sind</h1>
    <div class="team-pictures">

    </div>
  </div>
</div>
