<div class="text-center-screen">
  <h2 class="about-header">Impressum</h2>

  <h4>
    Lukas Beckmann<br>
    Großenbuschstr. 93<br>
    53757 Sankt Augustin<br>

    <a href="mailto:hallo@entertainly.de">hallo@entertainly.de</a><br>
    +49 2241 2619031<br>
  </h4>

  <h2 class="about-header">entertainly</h2>
  <h4><a href="mailto:presse@entertainly.de">presse@entertainly.de</a></h4>
</div>
