<div class="spacing-left-1 spacing-right-1">
  <h2 class="about-header">Nutzungsbedingungen</h2>
  <p>
    Nutzungsbedingungen<br>
    Version: 1 Stand: 23.03.2020<br>
    <br>
    Willkommen bei "entertainly"! Die nachfolgenden Nutzungsbedingungen regeln die kostenlose Nutzung von "entertainly" über das Internet, mobile Dienste, Apps, andere Domains oder Kommunikationswege:<br>
    <br>
    1. Nutzung von "entertainly"<br>
    <br>
    Bei der Nutzung von "entertainly" verpflichtest du dich, die geltenden gesetzlichen Vorschriften zu beachten. Das betrifft z.B. den Schutz der Persönlichkeitsrechte anderer Nutzer oder das Urheberrecht an Fotos.<br>
    "entertainly" ist kostenlos. Wir übernehmen keine Garantie oder Gewähr für Informationen auf "entertainly", für Inhalte anderer Nutzer oder für eine bestimmte Verfügbarkeit oder Funktionalität von "entertainly".<br>
    Wir behalten uns aber vor, sowohl Nutzer als auch ihre Inhalte jederzeit zu sperren oder zu löschen. Eine Löschung und / oder Sperrung aus anderen Gründen behalten wir uns ausdrücklich vor. Diese Gründe liegen in unserem Ermessen. Wir sind nicht dazu verpflichtet, die Nutzer über diese Gründe zu informieren.<br>
    <br>
    An der Struktur und den Funktionalitäten von "entertainly" sowie deren Bezeichnungen (z.B. bei Gruppen, Events) und den Datenbanken von "entertainly" behalten bzw. erwerben bei Fortentwicklung nur wir die ausschließlichen und unbeschränkten Rechte.<br>
    <br>
    2. Änderung der Nutzungsbedingungen<br>
    <br>
    Mit deiner Zustimmung oder wenn deine Zustimmung nach den folgenden Bestimmungen als erteilt gilt, können wir die mit dir vereinbarten Nutzungsbedingungen anpassen (z.B. bei Einführung neuer Funktionen).<br>
    Wenn wir die Nutzungsbedingungen ändern möchten, teilen wir dir dies in Textform (also z.B. per E-Mail) mit. Widersprichst du nicht innerhalb von sechs Wochen nach Zugang dieser Mitteilung in Textform, gilt deine Zustimmung zur Änderung als erteilt und die Änderungen werden zum angekündigten Zeitpunkt wirksam. Auf diese Folge weisen wir dich in der Änderungsmitteilung besonders hin. <br>
    <br>
    3. Datenschutz<br>
    <br>
    "entertainly" unterliegt deutschem und europäischem Datenschutzrecht. Informationen zur Erhebung, Verarbeitung und Nutzung personenbezogener Daten findest du in unserer Datenschutzerklärung.<br>
    <br>
    4. Alternative Streitbeilegung gemäß Verbraucherstreitbeilegungsgesetz<br>
    <br>
    Wir weisen dich darauf hin, dass wir nicht bereit und nicht verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.<br>
    <br>
    5. Anwendbares Recht<br>
    <br>
    Es gilt deutsches Recht.<br>
  </p>

</div>
