.image-full-width-20 {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.image-full-width-30 {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.image-full-width-40 {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.image-full-width-50 {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
