// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "sidebar";
@import "card";
@import "spacing";
@import "border";
@import "button";
@import "image";

.stop-scrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#body-content {
  transition: transform .5s ease;
}

.shift-content {
  transform: translateX(80vw);
}
