<div class="category-background" style="background-image: url('<%= cl_image_path @category.photo.key, height: 600, width: 800, crop: :fill %>')">
  <div class="gradient">
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="event-grid">
  <% @events.each do |event| %>
    <%= link_to (render 'shared/event-card', event: event), event_path(event) %>
  <% end %>
</div>
