<div class="container spacing-top-1">
  <h2 class="about-header">New Category</h2>
  <%= simple_form_for(@category) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <div class="d-flex justify-content-center mb-5">
      <%= f.button :submit, class: "button-blue" %>
    </div>
  <% end %>
</div>
